
@{
    ViewBag.Title = "Change Password";
}
@section styles {
    @Styles.Render("~/Content/update-password.css")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
}
<section>

    <div class="main-container">
        @* Main Grid - Parent *@

        <div class="header-container">

            <img src="@Url.Content("~/Content/UpdatePassword/Boat.png")" alt="Side Header Image" class="sidePicture">

        </div>

        <div class="wrapwrapper">
            <div class="logo-container">

                @*<img src="@Url.Content("~/Content/UpdatePassword/WebsiteLogo.png")" alt="Logo Image" class="LogoPicture">*@
                <h1 class="title"> Change Password </h1>

            </div>

            <div class="grid-container">

                <div class="passwordPage">

                    <div class="flex-container">


                        <div class="container-pass">


                            <form action="@Url.Content("~/LoginA/Index")" id="passwordForm">

                                <div class="container">

                                    <div class="oldpassword-container">
                                        <label for="oldpassword"><b></b></label>
                                        <input class="input-box" type="password" placeholder="Old Password" name="oldpassword" id="oldpassword" required>
                                        <i class="fa-solid fa-eye" id="oldPasswordEye"></i>
                                        <div class="pinVerticalLine"> </div>

                                    </div>

                                    <div class="newpassword-container">
                                        <label for="newpassword"><b></b></label>
                                        <input class="input-box" type="password" placeholder="New Password" name="newpassword" id="newpassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                                        <i class="fa-solid fa-eye" id="newPasswordEye"></i>
                                        <div class="pinVerticalLine"></div>
                                    </div>

                                    <div class="confirmpassword-container">
                                        <label for="confirmpassword"><b></b></label>
                                        <input class="input-box" type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" required>
                                        <i class="fa-solid fa-eye" id="confirmPasswordEye"></i>
                                        <div class="pinVerticalLine"></div>
                                    </div>

                                    <div class="container-msg-2">

                                        <div id="message-2">

                                            <p id="field" class="invalidPassword"> Password does not match </p>

                                        </div>

                                    </div>

                                    <div class="wrapper-buttons">

                                        <button type="reset" class="cancelButton" id="canButton"> Cancel </button>
                                        <button type="submit" class="submitButton" id="subButton">Submit</button>


                                    </div>

                                </div>

                            </form>


                        </div>

                        <div class="container-msg">

                            <div id="message">
                                <h3>Password must contain the following: </h3>
                                <p id="letter" class="invalid">at least 1 lowercase letter </p>
                                <p id="capital" class="invalid">at least 1 capital (uppercase) letter</p>
                                <p id="number" class="invalid">at least 1 number </p>
                                <p id="length" class="invalid">at least 8 characters</p>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>


</section>


@section scripts {

    <script src="@Url.Content("~/Scripts/update-password.js")"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>

    <script>
        const cBtn = document.querySelector(".cancelButton");

        cBtn.addEventListener('click', function () {
            window.location.href = "@Url.Action("Index", "LoginA")";
        })
    </script>
}