
@{
    ViewBag.Title = "Products";
}
@section styles {
    @Styles.Render("~/Content/products.css")
}
<!-- Section 1 -->
<div class="router">
    <img id="routerImage" src="@Url.Content("~/Content/Products/FirstPic.jpg")">
</div>
<div class="routerTexts">
    <h1 class="routerSlogan">
        Easier setup, lower terminal and
        <br> installation costs
    </h1>
    <p class="routerDescription">
        “The underlying principle of Kacific’s business is providing fast affordable broadband to under-served areas,”
        said Christian Patouraux, Kacific’s Chief Executive Officer. “The MDM2010, is an step forward in delivering that.
        Along with its paired iLNB transceiver, it is an entry level product that will significantly lower the price of Kacific’s
        consumer-oriented terminals without compromising performance. It is capable of speeds of up to 50Mbps down and 10Mbps up,
        further reinforcing the total cost-effectiveness of the Kacific broadband plans for consumer and SME end-users.
    </p>
</div>
<!-- Section 2 -->
<div class="cityContainer">
    <img src="@Url.Content("~/Content/Products/Offers.png")" class="cityImage">
    <div class="text-overlay">
        <h1>Don't miss out on these offers!</h1>
    </div>
</div>
<!-- Section 3 -->
<div class="productsBackground">
    <div class="productsContainer">
        <div class="item">
            <img src="@Url.Content("~/Content/Products/KaBandAntenna.png")">
            <h3>KA Band Antenna</h3>
            <p>
                Managed shared bandwidth services and dedicated bandwidth pooling services are offered on 75cm to 1.2m
                Very Small Aperture Terminals (VSAT). These small terminals offer speeds up to 200Mbps with low dc power consumption,
                which means they can be operated on low-cost solar power systems. They are small enough to be transported by car, local boats,
                small aircraft and even on foot. <br> Traffic for our highest bandwidth products, such as trunking and enterprise connectivity,
                is accessed by antennas from 2.4m to 4.5m in diameter.
            </p>
            <div class="inquireButtons">
                <button class="inquire-btn">INQUIRE NOW</button>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Content/Products/Tranceiver.png")">
            <h3>Tranceiver</h3>
            <p>
                iLNB transceiver is an entry level product that significantly lowers the price of Kacific’s consumer-oriented
                terminals without compromising performance.
                It is capable of speeds of up to 50Mbps down and 10Mbps up, further reinforcing the total cost-effectiveness of the
                Kacific broadband plans for consumer and SME end-users.
            </p>
            <h1 class="invisibleSpace"> &nbsp; </h1>
            <div class="inquireButtons">
                <button class="inquire-btn">INQUIRE NOW</button>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Content/Products/Modem.png")">
            <h3>Modem</h3>
            <p>
                A high throughput modem supporting a wide range of IP services like Internet/intranet access, VoIP and multi-casting services.
                Its easy point and play -installation
                and high-performance modulation techniques allow Kacific to offer fast broadband services more cost-effectively over
                its Ka-band network.
                The compact, lightweight modem is more affordable, easier to set up than existing modems, and can be configured
                from a web browser. It has a small profile, low power consumption and is suitable for all weather conditions.
            </p>
            <div class="inquireButtons">
                <button class="inquire-btn">INQUIRE NOW</button>
            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Content/Products/CommsBox.png")">
            <h3>Commsbox</h3>
            <p>
                Kacific CommsBox is an emergency communication product that can be instantly activated to establish connectivity.
                This box can be stored at remote sites or even airdropped into the emergency zones.
                The satellite dish inside connects to our powerful satellite,
                which offers widespread coverage including islands, mountainous regions and other remote areas.
            </p>
            <h1 class="invisibleSpace2"> &nbsp; </h1>
            <div class="inquireButtons">
                <button class="inquire-btn">INQUIRE NOW</button>
            </div>
        </div>
        <div class="inquireButtonsDesktop">
            <button class="inquire-btn">INQUIRE NOW</button>
        </div>
        <div class="inquireButtonsDesktop">
            <button class="inquire-btn">INQUIRE NOW</button>
        </div>
        <div class="inquireButtonsDesktop">
            <button class="inquire-btn">INQUIRE NOW</button>
        </div>
        <div class="inquireButtonsDesktop">
            <button class="inquire-btn">INQUIRE NOW</button>
        </div>
    </div>
</div>
<!-- Section 4 -->
<div class="buyContainer">
    <img id="buyImage" src="@Url.Content("~/Content/Products/DataPlan.png")" alt="Worker">
    <div class="buyText">
        <h2 class="buyh2">Shop for Unlimited or Data Cap Plan</h2>
        <div class="buyLineContainer">
            <hr class="buyline">
        </div>
        <p class="buyParagraph">Apply for the perfect plan suited for your business and residential needs</p>
        <div class="buyBtnContainer">
            <button class="buy-btn">Buy Now</button>
        </div>
    </div>
</div>
<!-- Section 5 -->
<div class="parallax"></div>
<!-- Section 6 -->
<div class="sponsorContainer">
    <div class="sponsorTextContainer">
        <div class="vertical-line-container">
            <div class="onboard-line1"></div>
            <div class="onboard-line2"></div>
        </div>
        <div class="sponsorTexts">
            <p class="sponsorAboveTexts">MAJOR CLIENTELLE </p>
            <p class="sponsorBelowTexts">TBGI IN MARITIME, OFFSHORE AND SUSTAINABLE ENERGY
        </div>
    </div>
    <div class="sponsorImages">
        <img src="@Url.Content("~/Content/Products/Clientele1.png")" class="sponsor1">
        <img src="@Url.Content("~/Content/Products/Clientele2.png")" class="sponsor2">
        <img src="@Url.Content("~/Content/Products/Clientele3.png")" class="sponsor3">
        <img src="@Url.Content("~/Content/Products/Clientele4.jpg")" class="sponsor4">
    </div>
</div>
<!-- Section 7 -->
<div class="sectionContainerWrapper">
    <div class="sectionContainer">
        <div class="offshoreImageMobile">
            <img src="@Url.Content("~/Content/Products/offshore.png")">
        </div>
        <div class="offshoreImageDesktop">
            <img src="@Url.Content("~/Content/Products/offshore.jpeg")">
        </div>
        <div class="sectionTextBtnContainer">
            <h1 class="sectionText">Check our Maritime and Offshore Plans </h1>
            <button class="offshoreinquire-btn">Inquire Now</button>
        </div>
    </div>
</div>
@section scripts {
    <script src="@Url.Content("~/Scripts/products.js")"></script>
    <script>

        const inquireBtns = document.querySelectorAll(".inquire-btn");
        const offshoreInquireBtn = document.querySelector(".offshoreinquire-btn");
        const buyNow = document.querySelector('.buy-btn');
        //INQUIRE BTNS
        inquireBtns.forEach(function (button) {
            button.addEventListener("click", function () {
                 window.location.href = '@Url.Action("Index","PortalRegistration")';
            });
        });
        offshoreInquireBtn.addEventListener("click", function () {
                window.location.href = '@Url.Action("Index","PortalRegistration")';
        });
        //END INQUIRE BTNS
        //Buy now
        buyNow.addEventListener("click", function () {
                window.location.href = '@Url.Action("Index","PricingAndPlans")';
        });
        //End Buy Now
    </script>
}