﻿
@{
    ViewBag.Title = "Pricing & Plans";
}
@section styles {
    @Styles.Render("~/Content/pricing-and-plans.css")
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
}

<!-- Slideshow -->
<div class="slideshow-container">
    <div class="mySlides fade">
        <video autoplay muted width="100%" height="100%">
            <source src="@Url.Content("~/Content/PricingAndPlans/Slide1.mp4")" type="video/mp4" class=videoMp4>
        </video>
        <div class="bigtext1">Wired for</div>
        <div class="bigtext2">Winning</div>
        <div class="text">Book a reservation today!</div>
    </div>

    <div class="mySlides fade">
        <img src="@Url.Content("~/Content/PricingAndPlans/Slide2.jpg")" style="width:100%">
        <div class="bigtext1">Bigger and</div>
        <div class="bigtext2">Better</div>
    </div>

    <div class="mySlides fade">
        <img src="@Url.Content("~/Content/PricingAndPlans/Slide3.jpg")" style="width:100%">
        <div class="bigtext1-3">A better</div>
        <div class="bigtext2-3">name for</div>
        <div class="bigtext3-3">internet</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>

    <div class="dots-container" style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
    </div>
</div>

<!-- Residential Unlimited Plans -->
<div class="page-flex">
    <section>
        <header>
            <h1 class="title1">
                Choose your pricing plan
            </h1>
        </header>
        <header>
            <p class="title2">
                Find one that works for you
            </p>
        </header>
        <header>
            <h2 class="title3">
                Residential Unlimited Plans
            </h2>
        </header>

        <div class="container" style="border:none;">
            <div class="plan-row">
                <div class="plan-col">
                    <h2 class="tb1" style="margin-left: -5px">Residential Simple</h2>
                    <h1 class="tb2">₱5,940</h1>
                    <p class="tb3">Every month</p>
                    <p class="tb4">One-Time Terminal Fee Php 34,000</p>
                    <p class="tb5">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">3 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">3 Mbps</p>
                        </div>
                    </div>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown1" class="btn-dropdown"></button>
                            <nav id="nav-dropdown1" class="nav-dropdown" style="z-index: 4">
                                <ul class="custom-list">
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2W Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>*1st Priority Download</i>
                                    </li>
                                    <li2><i>Data at 30 GB</i></li2>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="plan-col">
                    <h2 class="tb1" style="margin-left: -15px">Residential Everyday</h2>
                    <h1 class="tb2">₱8,370</h1>
                    <p class="tb3">Every month</p>
                    <p class="tb4">One-Time Terminal Fee Php 34,000</p>
                    <p class="tb5">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">15 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">10 Mbps</p>
                        </div>
                    </div>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown2" class="btn-dropdown"></button>
                            <nav id="nav-dropdown2" class="nav-dropdown" style="z-index: 4">
                                <ul class="custom-list">
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2W Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>*1st Priority Download</i>
                                    </li>
                                    <li2><i>Data at 35 GB</i></li2>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="plan-col-selected">
                    <div class="ribbon" style="z-index: 3">
                        Best Value
                    </div>
                    <h2 class="tb1">Connect 4 Users</h2>
                    <h1 class="tb2">₱10,530</h1>
                    <p class="tb3">Every month</p>
                    <p class="tb4">One-Time Terminal Fee Php 34,000</p>
                    <p class="tb5">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">30 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">10 Mbps</p>
                        </div>
                    </div>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown3" class="btn-dropdown-colored"></button>
                            <nav id="nav-dropdown3" class="nav-dropdown-colored" style="z-index: 2">
                                <ul class="custom-list">
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2W Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>*1st Priority Download</i>
                                    </li>
                                    <li2><i>Data at 50 GB</i></li2>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div>
        <p class="terms">Terms and Conditions apply. No Yearly Lock-up Period, Minimum 1-Month Contract.</p>
    </div>

    <!-- Enterprise Unlimited Plans -->
    <section>
        <header><h2 class="title3-1">Enterprise Unlimited Plans</h2></header>
        <div class="container" style="border:none;">
            <div class="plan-row">
                <div class="plan-col-selected">
                    <div class="ribbon2" style="z-index: 1">
                        Best Value
                    </div>
                    <h2 class="tb1">Connect 7 Users</h2>
                    <h1 class="tb2">₱23,213</h1>
                    <p class="tb3">Every month</p>
                    <p class="tb4">One-Time Terminal Fee Php 34,000</p>
                    <p class="tb5">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">50 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">10 Mbps</p>
                        </div>
                    </div>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown4" class="btn-dropdown-colored"></button>
                            <nav id="nav-dropdown4" class="nav-dropdown-colored">
                                <ul class="custom-list">
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>3W Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>*1st Priority Download</i>
                                    </li>
                                    <li2><i>Data at 185 GB</i></li2>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="plan-col">
                    <h2 class="tb1">Connect 10 Users</h2>
                    <h1 class="tb2">₱36,750</h1>
                    <p class="tb3">Every month</p>
                    <p class="tb4">One-Time Terminal Fee Php 52,000</p>
                    <p class="tb5">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">60 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">20 Mbps</p>
                        </div>
                    </div>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown5" class="btn-dropdown"></button>
                            <nav id="nav-dropdown5" class="nav-dropdown">
                                <ul class="custom-list">
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>3W Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>*1st Priority Download</i>
                                    </li>
                                    <li2><i>Data at 295 GB</i></li2>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="plan-col">
                    <h2 class="tb1">Connect 25 Users</h2>
                    <h1 class="tb2">₱86,250</h1>
                    <p class="tb3">Every month</p>
                    <p class="tb4">(Free Terminal)</p>
                    <p class="tb5 tb5-2">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">70 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">20 Mbps</p>
                        </div>
                    </div>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown6" class="btn-dropdown"></button>
                            <nav id="nav-dropdown6" class="nav-dropdown">
                                <ul class="custom-list">
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>3W Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>*1st Priority Download</i>
                                    </li>
                                    <li2><i>Data at 735 GB</i></li2>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="plan-col">
                    <h2 class="tb1">Connect 60 Users</h2>
                    <h1 class="tb2">₱170,625</h1>
                    <p class="tb3">Every month</p>
                    <p class="tb4">(Free Terminal and Installation)</p>
                    <p class="tb5 tb5-1">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">100 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">20 Mbps</p>
                        </div>
                    </div>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown7" class="btn-dropdown"></button>
                            <nav id="nav-dropdown7" class="nav-dropdown">
                                <ul class="custom-list">
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>3W Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>*1st Priority Download</i>
                                    </li>
                                    <li2><i>Data at 1425 GB</i></li2>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div>
        <p class="terms">Terms and Conditions apply. No Yearly Lock-up Period, Minimum 1-Month Contract.</p>
    </div>

    <!-- FUP & RECOMMENDED PLANS FOR YOUR USAGE -->
    <section>
        <img class="fup" src="@Url.Content("~/Content/PricingAndPlans/Fup.png")">
    </section>

    <!-- Fair Usage Policy -->
    <section>
        <header>
            <h1 class="title4">Fair Usage Policy</h1>
            <h3 class="title5">TERMS AND CONDITIONS APPLY</h3>
        </header>
        <div class="list-container">
            <div class="list-wrapper">
                <ul class="centered-list" style="width:700px; flex-wrap: wrap;">
                    <li>Speeds advertised are maximum shared speeds. Unlimited plans are subject to Fair Usage Policy.</li>
                    <li>Your service will continue at lower speeds even after you have used up your priority data allowance.</li>
                    <li>Terminal installation and transportation cost is excluded and subject to delivery to a specific area.</li>
                    <li>All published rates are VAT/GST inclusive. Rates may change with prior notice due to changes in exchange rate.</li>
                    <li>The terminal fee includes a 1.2m antenna, a 2010 or 2510 modem and a 2W or 3W transceiver depending on the type of terminal ordered.</li>
                    <li>Plans with over 70Mbps in download speeds will require a 3310 modem.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Monthly Datacap Services -->
    <section>
        <header>
            <h1 class="title4">Monthly Datacap Services</h1>
            <p class="title6">One (1) month minimum subscription (PREPAID). Subscription prices are inclusive of EVAT.</p>
        </header>
        <div class="container" style="border:none;">
            <div class="plan-row">
                <div class="plan-col">
                    <h2 class="tb1">Gbyte Plan 30</h2>
                    <h1 class="tb2">₱4,333</h1>
                    <p class="tb3">One Time Terminal Fee Php 48,000</p>
                    <p class="tb4">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">50 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">10 Mbps</p>
                        </div>
                    </div>
                    <p class="tb6">Valid for one month</p>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown8" class="btn-dropdown"></button>
                            <nav id="nav-dropdown8" class="nav-dropdown">
                                <ul class="custom-list">
                                    <li style="margin-left: -30px">
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>30GB</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>iLB3219 Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="plan-col">
                    <h2 class="tb1">Gbyte Plan 50</h2>
                    <h1 class="tb2">₱5,985</h1>
                    <p class="tb3">One Time Terminal Fee Php 48,000</p>
                    <p class="tb4">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">50 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">10 Mbps</p>
                        </div>
                    </div>
                    <p class="tb6">Valid for one month</p>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown9" class="btn-dropdown"></button>
                            <nav id="nav-dropdown9" class="nav-dropdown">
                                <ul class="custom-list">
                                    <li style="margin-left: -30px">
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>50GB</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>iLB3219 Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="plan-col">
                    <h2 class="tb1">Gbyte Plan 100</h2>
                    <h1 class="tb2">₱12,778</h1>
                    <p class="tb3">One Time Terminal Fee Php 48,000</p>
                    <p class="tb4">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">50 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">10 Mbps</p>
                        </div>
                    </div>
                    <p class="tb6">Valid for one month</p>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown10" class="btn-dropdown"></button>
                            <nav id="nav-dropdown10" class="nav-dropdown">
                                <ul class="custom-list">
                                    <li style="margin-left: -23px">
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>100GB</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>iLB3219 Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <div class="plan-col">
                    <h2 class="tb1">Gbyte Plan 200</h2>
                    <h1 class="tb2">₱23,333</h1>
                    <p class="tb3">One Time Terminal Fee Php 48,000</p>
                    <p class="tb4">Up to</p>
                    <div class="twocolrow">
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">50 Mbps</p>
                        </div>
                        <div class="col">
                            <span class="fa-stack fa-xs">
                                <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="p-icon">10 Mbps</p>
                        </div>
                    </div>
                    <p class="tb6">Valid for one month</p>
                    <button class="button">Select</button>
                    <div class="dropdown-container">
                        <div class="box" aria-haspopup="true">
                            <button id="btn-dropdown11" class="btn-dropdown"></button>
                            <nav id="nav-dropdown11" class="nav-dropdown">
                                <ul class="custom-list">
                                    <li style="margin-left: -23px">
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>200GB</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>1.2m Satellite Dish</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>iLB3219 Transceiver</i>
                                    </li>
                                    <li>
                                        <span class="fa-stack fa-xs">
                                            <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <i>2510 Modem</i>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- TERMS AND CONDITIONS APPLY -->
    <section>
        <header>
            <h3 class="title5" style="margin-top: 40px">TERMS AND CONDITIONS APPLY</h3>
        </header>
        <div class="list-container">
            <div class="list-wrapper">
                <ul class="centered-list2" style="width:700px; flex-wrap: wrap;">
                    <li>Published rates are paid upfront for capped plans. Unused data will be forfeited at the end of the month.</li>
                    <li>Subscribers will pay PHP 165 per Gigabyte for all excess data consumed (above the capped plan) in the next billing cycle.</li>
                    <li>Terminal installation and transportation cost is excluded and subject to delivery to a specific area.</li>
                    <li>The terminal fee includes a 1.2m antenna, a 2010 or 2510 modem and a 2W or 3W transceiver depending on the type of terminal ordered.</li>
                    <li>All published rates are VAT/GST inclusive. Rates may change with prior notice due to changes in exchange rate.</li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Top Up Plans for Gigabyte Plans -->
    <section>
        <header>
            <h1 class="title7">Top Up Plans for Gigabyte Plans</h1>
        </header>
        <header>
            <p class="title8">Up to</p>
        </header>

        <div class="twocolrow2">
            <div class="col2">
                <span class="fa-stack fa-sm">
                    <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                    <i class="fas fa-chevron-up fa-stack-1x fa-inverse"></i>
                </span>
                <p class="arrow-up-text">50 Mbps</p>
            </div>
            <div class="col3">
                <span class="fa-stack fa-sm">
                    <i class="fas fa-circle fa-stack-2x" style="color: #2a5b41;"></i>
                    <i class="fas fa-chevron-down fa-stack-1x fa-inverse"></i>
                </span>
                <p class="arrow-down-text">10 Mbps</p>
            </div>
        </div>
        <div class="container" style="border:none;">
            <div class="plan-row">
                <div class="plan-col">
                    <h2 class="tb1">Internet 10GB</h2>
                    <h1 class="tb2">₱1,710</h1>
                    <p class="tb3" style="margin-top: -12px">Valid for one month</p>
                    <button class="button">Select</button>
                    <hr class="plan-row-hr">
                    <p class="tb4" style="margin-top: 27px">Top-Up Plan</p>
                </div>

                <div class="plan-col">
                    <h2 class="tb1">Internet 20GB</h2>
                    <h1 class="tb2">₱3,420</h1>
                    <p class="tb3" style="margin-top: -12px">Valid for one month</p>
                    <button class="button">Select</button>
                    <hr class="plan-row-hr">
                    <p class="tb4" style="margin-top: 27px">Top-Up Plan</p>
                </div>

                <div class="plan-col">
                    <h2 class="tb1">Internet 30GB</h2>
                    <h1 class="tb2">₱3,933</h1>
                    <p class="tb3" style="margin-top: -12px">Valid for one month</p>
                    <button class="button">Select</button>
                    <hr class="plan-row-hr">
                    <p class="tb4" style="margin-top: 27px">Top-Up Plan</p>
                </div>

                <div class="plan-col">
                    <h2 class="tb1">Internet 50GB</h2>
                    <h1 class="tb2">₱5,985</h1>
                    <p class="tb3" style="margin-top: -12px">Valid for one month</p>
                    <button class="button">Select</button>
                    <hr class="plan-row-hr">
                    <p class="tb4" style="margin-top: 27px">Top-Up Plan</p>
                </div>
            </div>
        </div>
    </section>
</div>

<div>
    <p class="top-up-end-text"> Top Up Plans are for Gigabyte Plans only.</p>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/pricing-and-plans.js")"></script>
    <script src="https://kit.fontawesome.com/262754a914.js" crossorigin="anonymous"></script>

}