<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | TBGI</title>
    @Styles.Render("~/Content/layout.css")
    @*/*FONTS*/*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    @*END FONTS*@
    @Styles.Render("~/Content/reset.css")
    @Styles.Render("~/Content/style.css")
    @RenderSection("styles", required: true)
</head>
<body>
    <!--MOBILE RESOLUTION-->
    <nav class="nav-mobile">
        <i class="burgerIcon fa-solid fa-bars"></i>
        <img class="nav-img-mobile" src="https://static.wixstatic.com/media/7085b0_b9a8097e4568400f902dd8275e76f300~mv2.png/v1/fill/w_456,h_114,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/viber_image_2022-12-23_18-41-35-993.png" alt="Alternate Text" />
    </nav>
    <section class="mobile-sidebar">
        <i class="sidebar-icon fa-solid fa-bars"></i>
        <ul>
            <li class="list-item nav-button">
                <a href="@Url.Action("Index","Home")" class="nav-link">
                    <span>Home</span>
                </a>
                @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li class="list-item nav-button">
                <a href="@Url.Action("Technology","Home")" class="nav-link">
                    <span>Technology</span>
                </a>
                @*@Html.ActionLink("Technology", "Technology", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li class="list-item nav-button">
                <a href="@Url.Action("Services","Home")" class="nav-link">
                    <span>Services</span>
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512" class="dropsymbol" id="dropsymbol" onclick="openPrice()"><path d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"></path></svg>
                @*@Html.ActionLink("Services", "Services", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li class="list-item nav-button" id="price-nav" style="display: none">
                <div class="dropdown-nav">
                    <a href="@Url.Action("Index","PricingAndPlans")" class="nav-link dropdown">
                        <span id="price-nav-text">Pricing & Plans</span>
                    </a>
                </div>
            </li>
            <li class="list-item nav-button">
                <a href="@Url.Action("Products","Home")" class="nav-link">
                    <span>Products</span>
                </a>
                @*@Html.ActionLink("Products", "Products", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li class="list-item nav-button">
                <a href="@Url.Action("DistributionNetwork","Home")" class="nav-link">
                    <span>Distribution Network</span>
                </a>
                @*@Html.ActionLink("Distribution Network", "DistributionNetwork", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li><a id="NavLogin" class="navbar-btn login-btn" href="@Url.Action("Index","LoginA")">Login</a></li>
            <li>
                @Html.ActionLink("Register", "Index", "PortalRegistration", new { area = "" }, new { @class = "navbar-btn reg-btn" })
            </li>
        </ul>
    </section>
    <!--END MOBILE-->
    <!--DESKTOP-->
    <nav class="nav-class desktop-nav">
        <ul>
            <li><img class="nav-img" src="https://static.wixstatic.com/media/7085b0_b9a8097e4568400f902dd8275e76f300~mv2.png/v1/fill/w_456,h_114,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/viber_image_2022-12-23_18-41-35-993.png" alt="Alternate Text" /></li>
            <li class="list-item nav-button">
                <a href="@Url.Action("Index","Home")" class="nav-link">
                    <span>Home</span>
                </a>
                @*@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li class="list-item nav-button">
                <a href="@Url.Action("Technology","Home")" class="nav-link">
                    <span>Technology</span>
                </a>
                @*@Html.ActionLink("Technology", "Technology", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li class="list-item nav-button">
                <a href="@Url.Action("Services","Home")" class="nav-link services-link">
                    <span>Services</span>
                </a>
                <div class="dropdown-nav">
                    <a href="@Url.Action("Index","PricingAndPlans")" class="nav-link dropdown">
                        <span>Pricing & Plans</span>
                    </a>
                </div>
                @*@Html.ActionLink("Services", "Services", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li class="list-item nav-button">
                <a href="@Url.Action("Products","Home")" class="nav-link">
                    <span>Products</span>
                </a>
                @*@Html.ActionLink("Products", "Products", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li class="list-item nav-button">
                <a href="@Url.Action("DistributionNetwork","Home")" class="nav-link">
                    <span>Distribution Network</span>
                </a>
                @*@Html.ActionLink("Distribution Network", "DistributionNetwork", "Home", new { area = "" }, new { @class = "nav-link" })*@
            </li>
            <li><a id="NavLogin" class="navbar-btn login-btn" href="@Url.Action("Index","LoginA")">Login</a></li>
            <li>
                @Html.ActionLink("Register", "Index", "PortalRegistration", new { area = "" }, new { @class = "navbar-btn reg-btn" })
            </li>
            @*<li id="burgerIcon" class="icon "> <i class="hidden fa-solid fa-bars"></i></li>*@
        </ul>
    </nav>
    <!--END DESKTOP-->
    @*LOGIN MODAL*@
    <div id="BlackOverlay" class="hidden overlay"></div>
    <div id="LoginModal" class="hidden modal-container">

        <div class="modal-header-container">
            <h3 class="modal-header">Login</h3>
            <i id="ModalClose" class="modal-icon-close fa-solid fa-xmark"></i>
        </div>

        <form action="/" method="post">
            <div class="input-text-container">
                <input class="input-textfield" type="text" name="email" value="" id="footerEmail" placeholder="Email" />
            </div>

            <div class="input-text-container">
                <input class="input-textfield" type="password" name="password" value="" placeholder="Password" />
            </div>
            <button class="modal-login-btn">Log In</button>
        </form>
        <p class="modal-loginlink">No Account Yet? <span><a class="login-link" href="#">Sign Up!</a></span></p>
        <p class="modal-loginlink"><a class="login-link" href="#">Forgot Password</a></p>
    </div>

    @RenderBody()
    <footer>
        <div class="div-container section-footer sec1">
            <h2 class="footer-header">contact us today</h2>
            <ul>
                <li class="list-item-footer">Tel: (632)8404-0239</li>
                <li class="list-item-footer">Email: customercare@tbgi.net.ph</li>
                <li class="list-item-footer">Philippine Satellite Center: 1751 Chico Street Clark Special Economic Zone Clarkfield, Pampanga </li>
                <li class="list-item-footer">Corporate Office: 9f, Summit One Tower, 530 Shaw Boulevard, Mandaluyong City 1550, Metro Manila</li>
            </ul>
        </div>


        <div class="div-container section-footer sec2">
            <h2 class="footer-header">subscribe</h2>
            <p>Sign up to receive TBGI news and updates.</p>
            <h2 class="input-label">Email*</h2>
            <form action="/" method="post">
                <div class="div-container input-container">
                    <input id="footerEmail" type="email" name="email" value="" />
                    <a class="navbar-btn subscribe-btn" href="#">Subscribe</a>
                </div>
            </form>
        </div>
    </footer>
    @RenderSection("scripts", required: true)
    <script src="https://kit.fontawesome.com/262754a914.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"
            integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
            crossorigin="anonymous"></script>
    <script>
        const mobileSidebar = $('.mobile-sidebar');
        const burgerIcon = $('.burgerIcon');
        const sidebarIcon = $('.sidebar-icon');
        const blackOverlay = $('#BlackOverlay');
        function toggleSidebar() {
            console.log('buttonk');
            mobileSidebar.toggleClass('show');
            blackOverlay.toggleClass('hidden');
        }
        $(document).ready(function () {
            //setNav();
            var currentPath = window.location.pathname.toLowerCase();
            $(".nav-link").each(function () {
                var href = $(this).attr("href").toLowerCase();
                if (currentPath === href) {
                    $(this).closest(".nav-button").addClass("active");
                }
            });
            //$(window).resize(function () {
            //    setNav();
            //})
            burgerIcon.click(function () {
                event.stopPropagation();
                toggleSidebar();
            });
            sidebarIcon.click(function () {
                toggleSidebar();
            });
            $('body').click(function (event) {
                // Check if the click event occurred outside the mobile sidebar
                if (!mobileSidebar.is(event.target) && mobileSidebar.has(event.target).length === 0) {
                    mobileSidebar.removeClass('show');
                    blackOverlay.addClass('hidden');
                }
            });
        })

        function openPrice() {
            var priceNav = document.getElementById('price-nav');
            var symbol = document.getElementById('dropsymbol');

            if (priceNav.style.display === 'none') {
                priceNav.style.display = 'flex';
                symbol.classList.toggle("rotated");
                
            } else {
                priceNav.style.display = 'none';
                symbol.classList.toggle("rotated");
            }

        }

     
    </script>

</body>
</html>
