
@{
    ViewBag.Title = "Service";
}
@section styles {
    @Styles.Render("~/Content/services.css")
}
<section>
    <div class="image-container">
        <img src="@Url.Content("~/Content/Services/BG1.jpg")" alt="First Image" class="imageHeader">
        <div class="image-text">
            <p>Kacific provides reliable, fast, low-cost satellite internet</p>
            <p>to homes, businesses and governments in 25 countries</p>
            <p>across Asia Pacific </p>
        </div>
    </div>
</section>

<div class="grid-container">

    <div class="grid-item">
        <div class="grid-item-gigstarter">
            <h1 class="line-height-title"> GigStarter </h1>
            <hr class=" break-line">
            <div class="polaroid">
                <div class="image-containerStarter">
                    <img src="@Url.Content("~/Content/Services/GigStarter.jpg")" alt="Gig Starter" class="imagePolaroid">
                </div>
            </div>
            <p class="details">
                High-speed internet. Unlimited data. Affordable internet plan. Anywhere.
                Designed to quickly connect even the most remote and isolated users, Kacific satellite dishes are light and easily transportable and can even be solar-powered. Kacific maintains a full remotely-managed bandwidth service. Internet service providers distribute and install the dish. Broadband for everyone, anywhere with Kacific.
            </p>
        </div>

    </div>


    <div class="grid-item">
        <div class="grid-item-gigwifi">
            <h1 class="line-height-title"> GigWifi </h1>
            <hr class=" break-line">
            <div class="polaroid">
                <div class="image-containerWifi">
                    <img src="@Url.Content("~/Content/Services/GigWifi.jpg")" alt="Gig Wifi" class="imagePolaroid">
                </div>
            </div>
            <p class="details"> Designed for businesses, universities, hotels and government agencies, GigWiFi allows you to enjoy high-quality broadband and unlimited data for less, while creating a connected workplace for individuals. </p>
        </div>
    </div>


    <div class="grid-item">
        <div class="invisibleSpace"> &nbsp; </div>
        <div class="grid-item-iot">
            <h1 class="line-height-title"> Internet of Things </h1>
            <hr class=" break-line">
            <div class="polaroid">
                <div class="image-containerIOT">
                    <img src="@Url.Content("~/Content/Services/InternetThings.jpg")" alt="Internet of Things" class="imagePolaroid">
                </div>
            </div>
            <p class="details">Connect your IoT devices such as sensors for soil sanity, nutrient levels and humidity – with low-cost, fuss-free satellite broadband connectivity on your remote sites.</p>
        </div>
    </div>


    <div class="grid-item">
        <div class="grid-item-mocsc">
            <h1 class="line-height-title-2"> Maritime & Offshore Connectivity Services </h1>
            <hr class=" break-line2">
            <div class="polaroid">
                <div class="image-containerMOCS">
                    <img src="@Url.Content("~/Content/Services/Maritime.jpeg")" alt="Maritime Services" class="imagePolaroid">
                </div>
            </div>
            <p class="details">Using next-generation high throughput satellite technology, our service maintains a reliable network within our satellite beams, providing consistent communications. Our solution easily provides speeds of over 50 Mbps with a straightforward payment model per station per month – or simply per Gigabyte. Tailored packages can be adapted to suit your needs and scaled to provide an excellent service.</p>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-commsbox">
            <h1 class="line-height-title"> Commsbox </h1>
            <hr class=" break-line">
            <div class="polaroid">
                <div class="image-containerCommsbox">
                    <img src="@Url.Content("~/Content/Services/CommBox.jpg")" alt="Commsbox" class="imagePolaroid">
                </div>
            </div>
            <p class="details">A portable, all-in-one solution, designed for rapid response in emergency zones.</p>
            <p class="details">This box can be stored at remote sites or even airdropped into the emergency zones. The satellite dish inside connects to our powerful satellite, which offers widespread coverage including islands, mountainous regions and other remote areas.</p>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-wifi">
            <h1 class="line-height-title"> Community Wifi </h1>
            <hr class=" break-line">
            <div class="polaroid">
                <div class="image-containerCommunityWifi">
                    <img src="@Url.Content("~/Content/Services/ComWifi.jpg")" alt="Community Wifi" class="imagePolaroid">
                </div>
            </div>
            <p class="details">Keep your guests and customers connected to your high-speed WiFi hotspot with our easy pre-paid voucher system.</p>
            <p class="details">Easily earn additional revenue from selling WiFi vouchers to the community. Create customised vouchers for your community.</p>
        </div>
    </div>

    <div class="grid-item">
        <div class="grid-item-cctv">
            <h1 class="line-height-title-3"> CCTV & Remote Data Collection </h1>
            <hr class=" break-line3">
            <div class="polaroid">
                <div class="image-containerCCTV">
                    <img src="@Url.Content("~/Content/Services/Cctv.png")" alt="CCTV Collection" class="imagePolaroid">
                </div>
            </div>
            <p class="details">Keep your guests and customers connected to your high-speed WiFi hotspot with our easy pre-paid voucher system. </p>
            <p class="details">Easily earn additional revenue from selling WiFi vouchers to the community. Create customised vouchers for your community.</p>
        </div>
    </div>

</div>

<section>
    <div class="lastcontainer">
        <div class="blackbox"></div>
        <div class="flex-container">
            <div class="flex-item-pen">
                <img src="@Url.Content("~/Content/Services/Plan.png")" alt="Ballpen" class="pen">
            </div>
            <div class="flex-item-inquire">
                <h2 class="text-plan"> Getting a Plan with TBGI <br> is easy. </h2>
                <div class="flex-item-button">
                    <button type="button" class="button1">
                        <span class="container">I N Q U I R E &nbsp T O D A Y →</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script>
        const inquireBtn = document.querySelector('.button1');

        inquireBtn.addEventListener('click', function () {
            window.location.href = '@Url.Action("Index","PortalRegistration")';
        })
    </script>
}